<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./body.css">
    <link rel="stylesheet" href="./icon.css">
    <link rel="stylesheet" href="./col-do.css">
    <link rel="stylesheet" href="./title.css">
    <link rel="stylesheet" href="./responsive.css">
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./avatar.css">
    <link rel="stylesheet" href="./facts.css">
    <link rel="stylesheet" href="./price.css">
    <link rel="stylesheet" href="./testimonials.css">
    <link rel="stylesheet" href="./clients.css">
    <link rel="stylesheet" href="./dots.css">
    <title>Document</title>
    <style>
        body{
            background-color: #222222;
        }
    </style>
</head>

<body>
    <div class="home-button">
        <a href="" class="button primary">Download CV</a>
        <a href="" class="button secondary">Contact</a>
    </div>
    <div class="home-container">
        <div class="home-content">
            <div class="home-avatar-holder">
                <img src="./image/main_photo.jpg" alt="" class="home-avatar">
            </div>
            <div class="home-text">
                <h4>Frontend-developer</h4>
                <h1>Accel GOD</h1>
                <p>Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis, risus non condimentum
                    gravida, odio
                    mauris ullamcorper felis, ut venenatis purus ex eu mi. Quisque imperdiet lacinia urna, a placerat
                    sapien
                    pretium eu.</p>
                <div class="home-button">
                    <a href="" class="button primary">Download CV</a>
                    <a href="" class="button secondary">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block-title">
        <h2>
            What I Do
        </h2>
    </div>
    <div class="col-do-container">
        <div class="col-do-list">
            <div class="block-do-list">
                <div class="icon-holder">
                    <i class="fas fa-pencil-alt"></i>
                </div>
                <div class="do-text">
                    <h4>Copywrite</h4>
                    <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id
                        volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt
                        turpis turpis tempus ex.</p>
                </div>
            </div>
            <div class="block-do-list">
                <div class="icon-holder">
                    <i class="fas fa-desktop"></i>
                </div>
                <div class="do-text">
                    <h4>Web design</h4>
                    <p>Mauris neque libero, aliquet vel mollis nec, euismod sed tellus. Mauris convallis dictum elit id
                        volutpat. Vivamus blandit, dolor vitae lacinia maximus, risus velit vehicula odio, a tincidunt
                        turpis turpis tempus ex.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block-title">
        <h2>
            Testimonials
        </h2>
    </div>
    <div class="testimonials-containers">
        <div class="testimonials-holder">
            <img class="testimonials-avatar" src="./image/testimonial-1.jpg" alt="">
            <div class="testimonials-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero amet, unde deserunt aliquid
                    voluptate! Ratione voluptas quo ut est.
                </p>
                <h5 class="author">
                    Billy Adams
                </h5>
                <p class="firm">
                    Rolling Thunder
                </p>
            </div>
        </div>
    </div>
    <div class="dots-container">
        <div class="blue-dots">

        </div>
        <div class="grey-dots">

        </div>
    </div>
    <div class="block-title">
        <h2>
            Clients
        </h2>
    </div>
    <div class="client-container">
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-1.png" alt="">
            </div>
        </div>
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-2.png" alt="">
            </div>
        </div>
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-3.png" alt="">
            </div>
        </div>
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-4.png" alt="">
            </div>
        </div>
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-5.png" alt="">
            </div>
        </div>
        <div class="client-holder">
            <div class="overlay">
                <img src="./image/client-6.png" alt="">
            </div>
        </div>
    </div>
    <div class="dots-container">
        <div class="blue-dots">

        </div>
        <div class="grey-dots">

        </div>
    </div>
    <div class="block-title">
        <h2>
            Fun Facts
        </h2>
    </div>
    <div class="facts-holder">
        <div class="fact">
            <div class="icon-holder fact-icon">
                <i class="far fa-heart"></i>
            </div>
            <h4>Happy client</h4>
            <span class="value">578</span>
        </div>
    </div>
    <div class="block-title">
        <h2>
            Pricing
        </h2>
    </div>
    <div class="price-holder">
        <div class="price">
            <span class="type">Silver</span>
            <div class="show-price-holder">
                <div class="show-price">
                    $64
                </div>
                <small>per month</small>
            </div>
            <div class="price-home-button">
                <a href="" class="button secondary">Free Trial</a>
            </div>
            <p>Lorem ipsum dolor
                Pellentesque scelerisque
                Morbi eu sagittis
                Donec non diam</p>
        </div>
    </div>
    <div class="price-holder">
        <div class="price platium">
            <div class="block-title-price">
                <span class="type highlight">Platium</span>
            </div>
            <div class="show-price-holder">
                <div class="show-price">
                    $256
                </div>
                <small>per month</small>
            </div>
            <div class="price-home-button">
                <a href="" class="button primary">Free Trial</a>
            </div>
            <p>Lorem ipsum dolor
                Pellentesque scelerisque
                Morbi eu sagittis
                Donec non diam</p>
        </div>
    </div>
</body>

</html>